<br />
<div class="content">
    <div class="container cardcus">
        <div class="card">
            <div class="card-body col-lg-12">
                <div class="row mx-auto">
                    <div class="col-lg-3">
                        <label>Personal Assistant</label>
                        <select name="pa" id="pa" class="form-control" aria-required="true" data-live-search="true">
                            <option value="">--- Choose ---</option>
                            <option value="Medical Travel Manager">Medical Travel Manager</option>
                            <option value="Wellness Travel Manager ">Wellness Travel Manager </option>
                            <option value="Caregiver for Elder">Caregiver for Elder</option>
                        </select>
                    </div>

                    <div class="col-lg-2">
                        <label>Province</label>
                        <select name="province" id="province" class="form-control" aria-required="true"
                            data-live-search="true">
                            <option value="">--- Choose ---</option>
                            <option value="All">All</option>
                            <option value="Bangkok">Bangkok</option>
                            <option value="Chiangmai">Chiangmai</option>
                            <option value="Phuket">Phuket</option>
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <label>Arrival</label>
                        <input class="form-control" type="date" id="Arrival" />
                    </div>

                    <div class="col-lg-3">
                        <label>Departure</label>
                        <input class="form-control" type="date" id="Departure" />
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn btn-info btn-sm" style="margin-top: 2.5rem;"> Search</button>
                    </div>
                </div>
                <br />
                <div class="row mx-auto">
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a href="assets/images/temp-images/gallery-11.jpg" title="Healthcare Resources">
                                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a href="assets/images/temp-images/gallery-7.jpg" title="Healthcare Resources">
                                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-1" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="isotope-container" class="clearfix">
                            <!--column start-->
                            <div class="isotope-item advanced-technology free-facilities">
                                <article class="common clearfix hentry">
                                    <figure class="overlay-effect">
                                        <a href="assets/images/temp-images/gallery-5.jpg" title="Healthcare Resources">
                                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-1" />
                                        </a>
                                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"></a>
                                    </figure>
                                </article>
                            </div>
                            <!--column end-->
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>