<div class=" page-top clearfix">
    <!--page main heading-->
    <div class="container">
        <h1 class="entry-title">Doctor</h1>
        <nav class="bread-crumb">
            <ul class="breadcrumb clearfix">
                <li><a routerLink="doctor">Medical Press</a><span class="divider"></span></li>
                <li class="active">Dr.Sample Test</li>
            </ul>
        </nav>
    </div>
</div>

<div class="doctors-posts clearfix">
    <article class="doctors-single clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 ">
                    <div class="clearfix">
                        <!--doctor image-->
                        <figure>
                            <a class="swipebox" href="assets/images/temp-images/doctor-1.jpg" title="Dr.Addison Alexander">
                                <img src="assets/images/temp-images/doctor-1.jpg" alt="Dr.Addison Alexander">
                            </a>
                        </figure>
                        <!--doctor name-->
                        <h5>Dr.Sample Test</h5>

                        <div class="doctor-departments"><a href="#">Cardiac Clinic</a>, <a href="#">Primary Health
                                Care</a> </div>
                        <div class="doc-schedule clearfix">
                            <p><strong>Speciality</strong><span>Cardiac Electrophysiology</span></p>
                            <p><strong>Education</strong><span>MBBS, Cardiology</span></p>
                            <p><strong>Work Days</strong><span>Monday, Tuesday, Wednesday</span></p>
                        </div>
                        <div class="social-icon clearfix">
                            <ul class="doc-social-nav">
                                <li class="twitter-icon"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="facebook-icon"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="linkedin-icon"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="skype-icon"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 ">
                    <div class="side-content clearfix">
                        <!--doctor detail-->
                        <header class="top-area clearfix entry-header">
                            <h1 class="entry-title">Dr.Sample Test</h1>
                        </header>
                        <div class="entry-content">
                            <h4>Royal Prince Alfred Hospital – Sydney</h4>
                            <h5>June 2009 to July 2010</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</p>
                            <h4>Royal Melbourne Hospital -Melbourne</h4>
                            <h5>Aug 2010 to July 2011</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</p>
                            <h4>St Vincents Hospital – Sydney</h4>
                            <h5>Aug 2011 to Present</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco quat. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!--related doctors-->
    <div class="container">
        <div class="clearfix">
            <div id="related-doctors-title" class="slogan-section text-left clearfix">
                <h2>Related <span>Doctors</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <article class="common-doctor clearfix">
                    <figure>
                        <a class="swipebox" href="assets/images/temp-images/doctor-6.jpg" title="Dr.Kylee Leewan">
                            <img src="assets/images/temp-images/doctor-6.jpg" alt="Dr.Kylee Leewan">
                        </a>
                    </figure>
                    <div class="text-content text-center">
                        <h5 class="entry-title"><a href="doctor-leewan.html">Dr.Sample Test</a></h5>
                        <div class="doctor-departments">
                            <a href="#">Gynaecological Clinic</a>,
                            <a href="#">Primary Health Care</a>
                        </div>
                        <div class="for-border"></div>
                        <p>
                            This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                        <div class="social-icon clearfix">
                            <ul class="doc-social-nav">
                                <li class="twitter-icon"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="facebook-icon"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="linkedin-icon"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="skype-icon"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <article class="common-doctor clearfix">
                    <figure>
                        <a class="swipebox" href="assets/images/temp-images/doctor-5.jpg" title="Dr.Salal Shelton">
                            <img src="assets/images/temp-images/doctor-5.jpg" alt="Dr.Salal Shelton">
                        </a>
                    </figure>
                    <div class="text-content text-center">
                        <h5 class="entry-title"><a href="doctor-shelton.html">Dr.Sample Test</a></h5>
                        <div class="doctor-departments">
                            <a href="#">Pediatrics Clinic</a>,
                            <a href="#">Primary Health Care</a>
                        </div>
                        <div class="for-border"></div>
                        <p>
                            This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                        </p>
                        <div class="social-icon clearfix">
                            <ul class="doc-social-nav">
                                <li class="twitter-icon"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="facebook-icon"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="linkedin-icon"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="skype-icon"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="visible-sm clearfix"></div>
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <article class="common-doctor clearfix">
                    <figure>
                        <a class="swipebox" href="assets/images/temp-images/doctor-4.jpg" title="Dr.Andrew Bert">
                            <img src="assets/images/temp-images/doctor-4.jpg" alt="Dr.Andrew Bert">
                        </a>
                    </figure>
                    <div class="text-content text-center">
                        <h5 class="entry-title"><a href="doctor-bert.html">Dr.Sample Test</a></h5>
                        <div class="doctor-departments">
                            <a href="#">Cardiac Clinic</a>,
                            <a href="#">Primary Health Care</a>
                        </div>
                        <div class="for-border"></div>
                        <p>
                            This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed. </p>
                        <div class="social-icon clearfix">
                            <ul class="doc-social-nav">
                                <li class="twitter-icon"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="facebook-icon"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="linkedin-icon"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li class="skype-icon"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="visible-md clearfix"></div>
        </div>
    </div>

</div>