<div class="gallery-page clearfix">
    <div class="container text-center">
        <h3>Medical Treatment</h3>

    </div>

    <div class="container">
        <h4>Disease Package</h4>
        <hr />
    </div>

    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">
                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-3" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"
                                title="Health Check-Up"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Health Check-Up</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-3" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-5.jpg"
                                title="Vaccination"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Vaccination</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-3" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-7.jpg"
                                title="Orthopedic Surgery"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Orthopedic Surgery</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a>
                                <img src="assets/images/temp-images/gallery-41.jpg" alt="gallery-3" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-41.jpg"
                                title="Sport Medicine & Physical Therapy"></a>
                        </figure> -->
                        <div class="content">
                            <h4><a href="javascript:(0)">Sport Medicine & Physical Therapy</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->
            </div>

        </div>
    </div>

    <div class="container">
        <h4>Specialized Disease (Non Package)</h4>
        <hr />
    </div>
    
    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">
                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-4" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-11.jpg"
                                title="Cardiopathy"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Cardiopathy</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-4" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-5.jpg"
                                title="Cardiopathy"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Cardiopathy</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-4" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-7.jpg"
                                title="Cancer"></a>
                        </figure> -->
                        <div class="content clearfix">
                            <h4><a href="javascript:(0)">Cancer</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->

                <!--column start-->
                <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-4 ">
                    <article class="common clearfix hentry ">
                        <!-- <figure class="overlay-effect"> -->
                            <a href="javascript:(0)">
                                <img src="assets/images/temp-images/gallery-31.jpg" alt="gallery-4" />
                            </a>
                            <!-- <a class="overlay" href="assets/images/temp-images/gallery-31.jpg"
                                title="Orthopedic Surgery"></a>
                        </figure> -->
                        <div class="content">
                            <h4><a href="javascript:(0)">Orthopedic Surgery</a></h4>
                        </div>
                    </article>
                </div>
                <!--column end-->
            </div>

        </div>
    </div>

    <br />
    <div class="container cardOriginal">
        <div class="card">
            <div class="card-body col-lg-12">
                <div class="row mx-auto">
                    <section class="single-feature text-center col-sm-4">
                        <!-- <img src="assets/images/temp-images/1st-big-feature.png" alt="Special Care Unit"> -->
                        <a href="tel:+66945149294">
                            <div class="feature-border">
                                <i class="fa fa-phone" style="font-size: 40px;"></i>
                            </div>
                            <h5>Call to make an appointment</h5>
                        </a>
                    </section>
                    <section class="single-feature text-center col-sm-4">
                        <a href="/concierge-service/enquiry-form">
                            <div class="feature-border">
                                <i class="fa fa-comments" style="font-size: 40px;"></i>
                            </div>
                            <h5>Ask for information</h5>
                        </a>
                    </section>
                    <section class="single-feature text-center col-sm-4">
                        <a href="/pages/contact-us">
                            <div class="feature-border">
                                <i class="fa fa-calendar" style="font-size: 40px;"></i>
                            </div>
                            <h5>Make an appointment</h5>
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>