<div class="page-top clearfix">
    <!--page main heading-->
    <div class="container">
        <h1 class="entry-title">Doctors</h1>
    </div>
</div>

<div class="doctors-posts doctors-page clearfix">
    <div class="container">
        <!-- Filter -->
        <ul id="filters">
            <li><a data-filter="*">All Departments</a></li>
            <li><a data-filter=".cardiac-clinic">Cardiac Clinic</a></li>
            <li><a data-filter=".gynaecological-clinic">Gynaecological Clinic</a></li>
            <li><a data-filter=".pediatrics-clinic">Pediatrics Clinic</a></li>
            <li><a data-filter=".primary-health-care">Primary Health Care</a></li>
        </ul>
        <div class="blog-page-single clearfix">
            <article class=" hentry  clearfix">
                <div class="full-width-contents">
                    <div class="entry-content text-center">
                        <h2>Meet Our Doctors</h2>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="container isotope-wrapper text-center">
        <div class="row">
            <div id="isotope-container" class="clearfix">

                <div class="isotope-item cardiac-clinic primary-health-care col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Addison Alexander">
                                <img src="assets/images/temp-images/doctor-1.jpg" alt="doctor-2" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Cardiac Clinic</a>,
                                <a>Primary Health Care</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                            </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="isotope-item gynaecological-clinic pediatrics-clinic col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Adaline Becka">
                                <img src="assets/images/temp-images/doctor-2.jpg" alt="doctor-1" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Gynaecological Clinic</a>,
                                <a>Pediatrics Clinic</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                            </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="isotope-item cardiac-clinic primary-health-care col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Andrew Bert">
                                <img src="assets/images/temp-images/doctor-4.jpg" alt="doctor-4" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Cardiac Clinic</a>,
                                <a>Primary Health Care</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed. </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="isotope-item cardiac-clinic primary-health-care col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Addison Alexander">
                                <img src="assets/images/temp-images/doctor-1.jpg" alt="doctor-2" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Cardiac Clinic</a>,
                                <a>Primary Health Care</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                            </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="isotope-item gynaecological-clinic pediatrics-clinic col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Adaline Becka">
                                <img src="assets/images/temp-images/doctor-2.jpg" alt="doctor-1" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Gynaecological Clinic</a>,
                                <a>Pediatrics Clinic</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed.
                            </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="isotope-item cardiac-clinic primary-health-care col-md-4 col-sm-6 ">
                    <article class="common-doctor clearfix hentry">
                        <!--doctor image-->
                        <figure>
                            <a title="Dr.Andrew Bert">
                                <img src="assets/images/temp-images/doctor-4.jpg" alt="doctor-4" />
                            </a>
                        </figure>
                        <div class="text-content">
                            <!--doctor name-->
                            <h5 class="entry-title"><a href="" routerLink="detail">Dr.Sample Test</a></h5>
                            <div class="doctor-departments">
                                <a>Cardiac Clinic</a>,
                                <a>Primary Health Care</a>
                            </div>
                            <div class="for-border"></div>
                            <!--doctor detail-->
                            <p class="entry-summary">
                                This text represents a brief introduction of doctor and this text will be displayed on homepage and all the places where multiple doctors are listed. </p>
                            <div class="social-icon clearfix">
                                <!--social icons-->
                                <ul class="doc-social-nav">
                                    <li class="twitter-icon"><a target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="facebook-icon"><a target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="linkedin-icon"><a target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="skype-icon"><a target="_blank" href="skype:testusername?add"><i
                                                class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>



            </div>
        </div>
    </div>
</div>