
.avatar-user {
    border-radius: 50%!important;
    width: 25px;
    height: 25px;
}


.dropdown-menu {
    left: 65% !important; 
    top: 120% !important; 
    padding: 10px 0px !important;
    z-index: 1000000;
    width: 225px;
}

@media (max-width: 767px)  {
    .dropdown-menu {
        left: 45% !important; 
        top: 120% !important; 
        padding: 10px 0px !important;
    }
}


.hr-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

span.cart {
    min-height: 2em;
    min-width: 2em;
    padding: .05em;
    font-weight: 600;
    position: absolute;
    text-align: center;
    line-height: 1.8;
    top: -.8em;
    right: -.5em;
    margin: 0;
    border-radius: 100%;
    color: #fff;
    background-color: #f15b5a;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    z-index: 99;
}