<div class="main-login">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form [formGroup]="LoginForm"  (ngSubmit)="onSubmit()">
                <div class="row mx-auto">
                    <h1>Sign in</h1>
                    <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                </div> -->
                    <p>Use your account</p>
                </div>
                <div class="row mx-auto mb-2">
                    <input type="email" placeholder="Email"  formControlName="email"  [class.is-invalid]="email.invalid && (email.dirty || email.touched)"  />
                    <!--  <small *ngIf="email.errors?.email" class="text-danger">The email address has an error.</small> -->
                    <input type="password" placeholder="Password" formControlName="password" minlength="6"  
                            [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
                    <div *ngIf="password.errors?.minlength">
                        <small class="text-danger">Password must be 6 characters long</small>
                    </div>
                </div>

                <div class="row mx-auto">
                    <div class="col-lg-6" style="margin-bottom: 5px;"><button type="submit" class="btn btn-success btnLogin">Sign In</button></div>
                    <div class="col-lg-6"><a type="button" class="btn btn-primary btnLogin" href="/home/register"  title="Create an account">Sign Up</a></div>
                </div>
                <br />
                <a href="#" style="color: red;">Forgot your password?</a>
            </form>
        </div>
    </div>
</div>
<br />