<!-- Product & Treatment Course -->
<div class="services-page clearfix">
    <div class="container text-center">
        <h1>Product & Treatment Course</h1>
        <hr />
    </div>

    <div class="container isotope-wrapper">
        <div class="row">

            <div class="col-md-6 col-sm-6" *ngFor="let item of productData">
                <article class="service type-service hentry three-col-service">
                    <figure>
                        <a href="/products/detail/{{ item.id }}" title="{{ item.id }}">
                            <img src="{{ item.main_picture }}" alt="{{ item.title }}" style="width: 100%; height: 550px; object-fit: cover;" />
                        </a>
                    </figure>
                    <div class="contents clearfix" style="height: 200px !important;">
                        <h4><a href="/products/detail/{{ item.id }}">{{ item.title }}</a></h4>
                        <div class="entry-content">
                            <p>{{ item.shot_detail }}&hellip;</p>
                        </div>
                        <a class="read-more" href="/products/detail/{{ item.id }}">See Packages</a>
                    </div>
                </article>
            </div>

        </div>
        <!-- <div class="row">
            <div class="col-12 text-center">
              <a class="read-more" href="/products">View all Packages</a>
            </div>
          </div> -->
    </div>

</div>
<!-- Product & Treatment Course -->