<!-- about-us -->
<br />
<div class="container isotope-wrapper text-center">
    <div class="row">
        <div id="isotope-container" class="clearfix">
            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <!-- <a href="assets/images/temp-images/gallery-11.jpg" title="Healthcare Resources"></a> -->
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="1"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-7.jpg" title="2"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="3"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-5.jpg" title="4"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

        </div>
    </div>
</div>
<br />
<div class="container isotope-wrapper text-center">
    <div class="row">
        <div id="isotope-container" class="clearfix">
            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="5"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-7.jpg" title="6"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="7"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

            <!--column start-->
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-5.jpg" title="8"></a>
                    </figure>
                </article>
            </div>
            <!--column end-->

        </div>
    </div>
</div>
<br />


<div class="home-features clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="features-intro clearfix">
                    <img src="assets/images/temp-images/service-3-670x500.jpg" alt="service-3">
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <article class="content clearfix hentry">
                        <div class="row">
                            <div class="col-md-12">
                                <h3><a href="services-dental.html">World Medical Tourism Alliance</a></h3>
                                <p>
                                    We are the best “Medical Tourism Facilitator” to deliver excellent of care and
                                    ensuring the continuity of care for patients (customers) and provide professional
                                    consultation services and personalized assistance , best value Medical tourism
                                    packages in matching needs, all at affordable prices and that match with preference
                                    & life style across Thailand & Asia pacific.</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
    <br />

</div>
<!-- about-us -->

