<!--slider-->
<div class="home-slider clearfix">
    <div class="flexslider loading">
        <ul class="slides">
            <!--slide start-->
            <li>
                <img src="assets/images/temp-images/slide-one.jpg" alt="Medical Services That You Can Trust" />
                <div class="content-wrapper clearfix">
                    <div class="container">
                        <div class="slide-content clearfix ">
                            <h1><span>World Medical Tourism Alliance</span></h1>
                            <p>Best value Medical tourism packages in matching needs, all at affordable prices and that match with preference & life style across Thailand & Asia pacific.
                            </p>
                            <a class="slider-button" href="/products">See Packages</a>
                        </div>
                    </div>
                </div>
            </li>
            <!--slide end-->

            <!--slide start-->
            <li>
                <img src="assets/images/temp-images/slide-two.jpg" alt="We Care for You" />
                <div class="content-wrapper clearfix">
                    <div class="container">
                        <div class="slide-content clearfix">
                            <h1>We <span>Care</span> for <span>You</span></h1>
                            <p>We are the best “Medical Tourism Facilitator”.</p>
                            <a class="slider-button" href="/pages/about-us">Read More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!--slide end-->
        </ul>
    </div>

    <!--appointment form-->
    <div class="appointment clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6  ">
                    <span class="btn make-appoint">Discover Us <i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="clearfix">
                <div class="appointment-form clearfix animated">
                    <form>

                        <div class="row mx-auto">
                            <div class="col-sm-11 common">
                                <input type="text" name="app-search" id="app-search" placeholder="Search" />
                            </div>
                            <div class="col-sm-1 common">
                                <button class="btn btn-lg btn-success mx-2" type="submit" id="btnSearch">
                                    <i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <img src="assets/images/white-loader.gif" class="ajax-loader" id="appointment-loader" alt="Loading...">
                        <div id="response-container"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--appointment form end-->
</div>


<!-- about-us -->
<!--<br />
 <div class="container isotope-wrapper text-center"> เรียงรูปโชว์ 8 รูป 
    <div class="row">
        <div id="isotope-container" class="clearfix">
  
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="1"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-7.jpg" title="2"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="3"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-5.jpg" title="4"></a>
                    </figure>
                </article>
            </div>

        </div>
    </div>
</div>
<br />

<div class="container isotope-wrapper text-center">
    <div class="row">
        <div id="isotope-container" class="clearfix">
         
            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="5"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-7.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-7.jpg" title="6"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-11.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-11.jpg" title="7"></a>
                    </figure>
                </article>
            </div>

            <div class="isotope-item advanced-technology free-facilities col-md-3 col-sm-3 ">
                <article class="common clearfix hentry">
                    <figure class="overlay-effect">
                        <a >
                            <img src="assets/images/temp-images/gallery-5.jpg" alt="gallery-1" />
                        </a>
                        <a class="overlay" href="assets/images/temp-images/gallery-5.jpg" title="8"></a>
                    </figure>
                </article>
            </div>

        </div>
    </div>
</div>
<br /> -->


<div class="home-features clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="features-intro clearfix" style="text-align: center !important;">
                    <img src="assets/images/New WMTA logo_PNG.webp" alt="service-3">
                    <br><br>
                    <img src="assets/images/CMTP-NEW-LOGO_20181127_VF.webp" alt="service-3">
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <article class="content clearfix hentry">
                        <div class="row">
                            <div class="col-md-12">
                                <h3><a href="pages/about-us">World Medical Tourism Alliance</a></h3>
                                <p>
                                    We are the best “Medical Tourism Facilitator” to deliver excellent of care and ensuring the continuity of care for patients (customers) and provide professional consultation services and personalized assistance , best value Medical tourism packages in
                                    matching needs, all at affordable prices and that match with preference & life style across Thailand & Asia pacific.</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-us -->


<!--news section-->
<div class="services-page clearfix">
    <div class="container">
        <div class="container text-center">
            <h2>Health News</h2>
            <hr />
        </div>
        <div class="row ">

            <div class="col-md-4 col-sm-6" *ngFor="let item of arrData">
                <article class="service type-service hentry three-col-service">
                    <figure>
                        <a href="/health-blog/{{ item.id }}" title="{{ item.id }}">
                            <img src="{{ item.image }}" alt="{{ item.title }}" style="width: 100%; height: 250px; object-fit: cover;" />
                        </a>
                    </figure>
                    <div class="contents clearfix">
                        <h4><a href="/health-blog/{{ item.id }}">{{ item.title }}</a></h4>
                        <div class="entry-content">
                            <p>{{ item.shot_detail }}&hellip;</p>
                        </div>
                        <a class="read-more" href="/health-blog/{{ item.id }}">Read More</a>
                    </div>
                </article>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a class="read-more" href="/health-blog">View all health news</a>
            </div>
        </div>
    </div>
</div>
<!--news section end-->


<div class="features-var-two clearfix">
    <article class="gallery-single clearfix hentry">
        <div class="container">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="gallery-single-post clearfix">
                        <div class="clearfix" id="slider">
                            <!--slider-->
                            <ul class="slides">
                                <li>
                                    <a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-1"></a>
                                </li>
                                <li>
                                    <a href="assets/images/temp-images/slide-two.jpg" title=""><img src="assets/images/temp-images/slide-two.jpg" alt="gallery-3"></a>
                                </li>
                                <li>
                                    <a href="assets/images/temp-images/slide-one.jpg" title=""><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-4"></a>
                                </li>
                                <li>
                                    <a href="assets/images/temp-images/slide-two.jpg" title=""><img src="assets/images/temp-images/slide-two.jpg" alt="gallery-5"></a>
                                </li>
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <!--thumbnail carousel for slider-->
                            <ul class="slides">
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-1"></li>
                                <li><img src="assets/images/temp-images/slide-two.jpg" alt="gallery-3"></li>
                                <li><img src="assets/images/temp-images/slide-one.jpg" alt="gallery-4"></li>
                                <li><img src="assets/images/temp-images/slide-two.jpg" alt="gallery-5"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <!--gallery related items-->
    <div class="container">
        <div class="clearfix">
            <div class="slogan-section text-center clearfix">
                <h1>Wellness Hotels & Resorts</h1>
                <h2>Health Resorts & Medical Spas</h2>
                <p>Choose your favorite Wellness, Health resorts and Medical Spas that match with your preference & life style Beyond this, We have more than 122 Alternative State Quarantine (ASQ) or Alternative Local Quarantine (ALQ) Hospital, Hotel , Wellness
                    & golf Quarantine around Thailand that have been approved by Thailand’s Ministry of Public Health and the Ministry of Defense. Also, we have service providers who achieves GHA's COVID-19 Certification of Conformance for Medical Travel
                    Program.
                </p>
            </div>
        </div>
    </div>
    <div class="related-gallery-items container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 ">

            </div>

            <div class="visible-sm clearfix"></div>
        </div>
    </div>
</div>

<!-- Product & Treatment Course -->
<div class="services-page clearfix">
    <div class="container text-center">
        <h1>Product & Treatment Course</h1>
        <hr />
    </div>

    <div class="container isotope-wrapper">
        <div class="row">

            <div class="col-md-4 col-sm-6" *ngFor="let item of productData">
                <article class="service type-service hentry three-col-service">
                    <figure>
                        <a href="/products/detail/{{ item.id }}" title="{{ item.id }}">
                            <img src="{{ item.main_picture }}" alt="{{ item.title }}" style="width: 100%; height: 250px; object-fit: cover;" />
                        </a>
                    </figure>
                    <div class="contents clearfix">
                        <h4><a href="/products/detail/{{ item.id }}">{{ item.title }}</a></h4>
                        <div class="entry-content">
                            <p>{{ item.shot_detail }}&hellip;</p>
                        </div>
                        <a class="read-more" href="/products/detail/{{ item.id }}">See Packages</a>
                    </div>
                </article>
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="read-more" href="/products">View all Packages</a>
            </div>
        </div>
    </div>

</div>
<!-- Product & Treatment Course -->