<!-- registerHospital -->
<form [formGroup]="register.registerHospital">
    <div class="col-lg-12 cardOriginal">
        <div class="row mx-auto">
            <div class="col-lg-12 text-center">
                <h3>Sign Up</h3>
                <!-- <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div> -->
                <p>Register an account for a hospital</p>
            </div>
        </div>

        <div class="row mx-auto mt-4">
            <div class="text-center col-lg-12">
                <img [src]="imageSrcHospital || 'assets/images/user_icon.png'" (click)="uploadBtn()"
                    class="img-thumbnail img-circle img-profile" style="cursor: pointer;" alt="avatar">
            </div>
            <div class="p-image">
                <i class="fa fa-camera upload-button" (click)="uploadBtn()"></i>
                <input type="file" (change)="readFileImg($event)" formControlName="imageHospital" class="file-upload action-btn"
                    accept="image/*">

            </div>
        </div>

        <div class="row mx-auto mt-4">
            <div class="form-group">
                <div class="col-lg-6">
                    <label for="first_name">
                        <p>First name</p>
                    </label>
                    <input type="text" class="form-control" formControlName="fnameHospital" placeholder="first name"
                        title="enter your first name if any."
                        [class.is-invalid]="register.fnameHospital.invalid && (register.fnameHospital.dirty || register.fnameHospital.touched)">
                </div>

                <div class="col-lg-6">
                    <label for="last_name">
                        <p>Last name</p>
                    </label>
                    <input type="text" class="form-control" formControlName="lnameHospital" placeholder="last name"
                        title="enter your last name if any."
                        [class.is-invalid]="register.lnameHospital.invalid && (register.lnameHospital.dirty || register.lnameHospital.touched)">
                </div>
            </div>
        </div>


        <div class="row mx-auto">
            <div class="col-lg-6">
                <label for="birthday">
                    <p>Birthday</p>
                </label>
                <input type="date" class="form-control" formControlName="birthdayHospital" />
            </div>

            <div class="col-lg-6">
                <label for="City">
                    <p>Age</p>
                </label>
                <input type="number" class="form-control" formControlName="ageHospital" />
            </div>
        </div>

        <div class="row mx-auto">
            <div class="form-group">
                <div class="col-lg-6">
                    <label for="phone">
                        <p>Phone</p>
                    </label>
                    <input type="text" class="form-control" formControlName="phoneHospital" minlength="9" maxlength="20"
                        placeholder="enter phone" title="enter your phone number if any."
                        [class.is-invalid]="register.phoneHospital.invalid && (register.phoneHospital.dirty || register.phoneHospital.touched)">
                </div>

                <div class="col-lg-6">
                    <label for="City">
                        <p>Line (Ex.@linename)</p>
                    </label>
                    <input type="text" class="form-control" formControlName="lineHospital" />
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-lg-6">
                <label for="position">
                    <p>Position</p>
                </label>
                <input type="text" class="form-control" formControlName="positionHospital" />
            </div>

            <div class="col-lg-6">
                <label for="department">
                    <p>Department</p>
                </label>
                <input type="text" class="form-control" formControlName="departmentHospital" />
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-lg-6">
                <label for="organization">
                    <p>Organization</p>
                </label>
                <input type="text" class="form-control" formControlName="organizationHospital" />
            </div>

            <div class="col-lg-6">
                <label for="City">
                    <p>Sex</p>
                </label>
                <select formControlName="sexHospital" class="form-control" aria-required="true" data-live-search="true">
                    <option value="">--- Choose ---</option>
                    <option value="M">Man</option>
                    <option value="W">Woman</option>
                </select>
            </div>
        </div>


        <div class="row mx-auto">
            <div class="col-lg-6">
                <label for="emailtxt">
                    <p>Email</p>
                </label>
                <div>
                    <input type="email" placeholder="example@gmail.com" formControlName="emailHospital" class="form-control"
                        [class.is-invalid]="register.emailHospital.invalid && (register.emailHospital.dirty || register.emailHospital.touched)" />
                    <div *ngIf="(register.emailHospital.valid && register.emailHospital.touched) || register.emailHospital.dirty">
                        <div *ngIf="register.emailHospital.errors?.email">
                            <small class="text-danger">The email address has an error.</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <label for="Password">
                    <p>Password</p>
                </label>
                <input type="password" class="form-control" formControlName="passwordHospital" minlength="6"
                    [class.is-invalid]="register.passwordHospital.invalid && (register.passwordHospital.dirty || register.passwordHospital.touched)" />
                <div *ngIf="(register.passwordHospital.valid && register.passwordHospital.touched) || register.passwordHospital.dirty">
                    <div *ngIf="register.passwordHospital.errors?.minlength">
                        <small class="text-danger">Password must be 6 characters long</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-lg-6">
                <label for="emailtxt">
                    <p>Attach files such as : Passport, Medical diagnosis, etc. (images) </p>
                </label>

                <div *ngFor="let progressInfo of progressInfos" class="mb-2 row col-lg-12">
                    <span>{{ progressInfo.rows }}) {{ progressInfo.fileName }}</span>
                    <!-- <div class="progress">
                        <div class="progress-bar  progress-bar-striped " role="progressbar"
                        attr.aria-valuenow="{{ progressInfo.value }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progressInfo.value + '%' }"> {{ progressInfo.value }}% </div>
                    </div> -->
                </div>

                <div class="row">
                    <!--  .csv, .docx, .doc, .xlsx, .xls, .txt -->
                    <div class="col-lg-8">
                        <input type="file" class="btn btn-info file-select" accept="image/*" formControlName="filesHospital[]"
                            (change)="fileArrList($event)" multiple />
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-warning mx-2" type="button" style="color: #fff;" (click)="clearFile()">
                            <i class="glyphicon glyphicon-repeat"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mx-auto text-center">
            <div class="col-lg-12" style="margin-top: 2.5rem!important;">
                <button class="btn btn-lg btn-success mx-2" type="button" (click)="registerAccount(register.registerHospital)">
                    <i class="glyphicon glyphicon-ok-sign"></i>&nbsp;Confirm</button>
                <button class="btn btn-lg" type="button" style="color: #7b7d85;"><i
                        class="glyphicon glyphicon-repeat"></i>&nbsp;Reset</button>
            </div>
        </div>

    </div>
</form>
<!-- Hospital / Medical center -->