
<!--page footer-->
<footer id="main-footer" class="site-footer clearfix">
    <div class="container">
        <div class="row">
            
            <!--about widget-->
            <div class="col-md-6 col-sm-6">
                <section class="widget animated fadeInLeft">
                    <h3 class="title">World Medical Tourism Alliance</h3>
                    <div class="textwidget">
                        <p>{{'ContactDetail' | translate}}</p>
                    </div>
                </section>
            </div>

            <!--recent Contact-->
            <div class="col-md-6 col-sm-6">
                <section class="widget animated fadeInLeft">
                    <h3 class="title"></h3>
                    <ul id="twitter_update_list">
                        <li>{{'Call us' | translate}} : <a href="tel:+66945149294">+66 945149294</a></li>
                        <li>{{'Email' | translate}} : <a href="mailto:happiness@wmtamedicaltourism.com">happiness@wmtamedicaltourism.com</a></li>
                        <li>{{'PhoneNo' | translate}} : <a href="tel:+66945149294>+66 945149294">+66 945149294</a></li>
                        <li> {{'Line official ID' | translate}} : <a > @wmta</a></li>
                        <li>
                            {{'Fanpage' | translate}} : <a href="https://web.facebook.com/wmtamedicaltourism/?_rdc=1&_rdr" target="blank">World Medical Tourism Alliance</a> 
                        </li>
                    </ul>
                </section>
            </div>
         
        </div>

        <div class="footer-bottom animated fadeInDown clearfix">
            <div class="row">
                <div class="col-sm-7">
                    <p>Copyright © 2021 Asha-tech. Designed by Asha-tech. All rights reserved. </p>
                </div>
                <!--footer social icons-->
                <div class="col-sm-5 clearfix">
                    <ul class="footer-social-nav">
                        <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://web.facebook.com/wmtamedicaltourism/?_rdc=1&_rdr"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <!-- <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a target="_blank" href="skype:skypeusername?add"><i class="fa fa-skype"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

<a href="#top" title="{{'To Top' |  translate}}" id="scroll-top"></a>